.nav {
    width: 100%;
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0px;
    margin-bottom: 20px;
  }
  .nav i {
    font-size: 1.3em;
    color: gray;
  }
  .nav span.logo {
    position: relative;
    color: #000;
    font-family: 'Nunito', sans-serif;
    font-size: 1.2em;
  }
  
  span.logo .badge{
    position: absolute;
    top: -12px;
    right: -11px;
    font-size: 13px;
  }
  @media (max-width: 400px) {
    .nav{
      display: flex;
    }
  }