.tasks-display{
    margin-top: 30px;
    animation-duration: .5s;
    display: none;
    background-color: white;
    padding: 35px;
  }
  
  .tasks-display .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  .tasks-display .header h2{
    margin: 0;
  }
  
  .tasks-display .body p {
    color: #868686;
    margin-bottom: 8px;
    text-transform: capitalize;
  }
  .tasks-display .body input[type="text"]{
    font-family: 'Nunito', sans-serif;
    outline: none;
    padding: 0px 0px;
    border: none;
    display: inline-block;
  }
  
  .tasks-display .body input[type="text"].edit{
    border: 1px solid #ccc;
  }