@import './css/Clock.css';
@import './css/Nav.css';
@import './css/Slider.css';
@import './css/Timeline.css';
@import './css/grid.css';
@import './css/modal.css';
@import './css/SlideMenu.css';
@import './css/tasksDisplay.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

body {
  background-color: #F1F1F1;
}

button {
  outline: none;
}

.container {
  width: 80%;
  max-width: 1300px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5{
  font-family: 'Nunito', sans-serif;
  color: #444;
  font-weight: 400;
  margin-bottom: 10px;
}

/* BUTTONS */
.btn{
  margin-top: 40px;
  font-size: 1.2em;
  padding: 0 15px;
  font-family: 'Nunito', sans-serif;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}
.btn-sm{
  display: inline-block;
  margin: 20px 10px 0 10px;
  font-size: 1em;
  cursor: pointer;
  padding: 3px 10px;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  border: none;
  border-radius: 3px;
}
.btn-confirm{
  color: #FF3A69;
  font-weight: bold;
}
.btn-cancel{
  color: #666;
}

.add-btn{
  margin-left: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.add-btn span{
  margin-right: 5px;
}
.add-btn button{
  border: none;
  background: none;
  font-size: 1.5em;
  color: #FF3A69;
}

.delete-btn i{
  cursor: pointer;
  margin-right: 10px;
  padding: 0;
  color: #FF3A69;
}

.btn.facebook {
  background-color: #3B5998;
  color: #fff;
  padding: 5px 10px;
}
.btn.google {
  background-color: #d62d20;
  color: #fff;
  padding: 5px 10px;
}

/* ----------- EFFECTS, COLORS ----------*/
.blurred{
  filter: blur(2px)
}

.red{
  color: #FF3A69 !important;
}

.orange{
  color: #ffa33a !important;
}

.color-red{
  color: #FF3A69;
  font-weight: bold;
}

/* ------------- flex ------------- */
.flex{
  display: flex;
}

.flex-center{
  justify-items: center;
  justify-content: center;
}

/* loader */
.loading{
  text-align: center;
  font-size: 2em;
  color: #FF3A69;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 46%;
}